body {
    background: black;
    margin: 0;
    padding: 0;

}

h1 {
    margin-top: 20px;
    color: #F3FFE2;
    font-family: 'Rouge Script', cursive;
    font-size: 80px;
    font-weight: normal;
    line-height: 48px;
    margin: 20px 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}
.visible {
    width: 300px;
    height: auto;
    z-index: 3;
    margin: auto;
    position: absolute;
    top: 419px;
    left: 115px;
    visibility: visible;
    transition: all 2s;
}
.hidden{
    position: absolute;
    visibility: hidden;
}
.container {
    margin: 30px;
    width: 480px;
}
.header{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 5px;
}

.buttonNewGame {
    float: right;
    border-radius: 5px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    border: 2px #F3FFE2 solid;
    background-color: black;
    color: #F3FFE2;
    outline: none;
}

.buttonNewGame:hover {
    color: black;
    background: #F3FFE2;
}
.buttonNewGame:active {
    color: #F3FFE2;
    background-color: black;
}

.rightSide {
    width: 20%;
    float: left;
}

.middleSide {
    width: 60%;
    float: left;
    height: 50px;
}
.middleSide > button {
    vertical-align: middle;
}
.leftSide {
    width: 20%;
    float: left;
}

.clickCounter {
    float: left;
    width: 90px;
    height: 90px;
    border: 1px solid #F3FFE2;
    border-radius: 5px;
    color: #F3FFE2;
    font-weight: 600;
    font-size: large;
    text-align: center;
    text-underline-mode: auto;
    margin: 0 auto;
}

.box {
    width: 40px;
    height: 40px;
    float: left;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
}

.Button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    margin: 10px 5px 0 0 ;
    opacity: 0.5;
    -webkit-transition: width 0.5s, height 0.5s, background-color 0.5, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, background-color 0.5s,opacity 0.5s, transform 0.5s;
    outline: none;
    border: none;
}

.Button:hover,
.Button:focus {
    opacity: 1;
}

.playground {
    width: 480px;
    height: 500px;
    margin: 0 auto;
}

.a1 {
    background: #C74029;
}

.a2 {
    background: #FAE8CD;
}

.a3 {
    background: #128085;
}

.a4 {
    background: #385052;
}

.a5 {
    background: #F0AD44;
}

